body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: goldenrod;
    text-align: center;
    margin: 0;
} 

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 0;
    font-size: 700;
}

p {
    font-size: 300;
}

h1,
 p {
    margin-top: 0;
}

form {
    background-color:  #f5f6fa;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
    border-radius: 2px;
    padding: 30px 20px;
    max-width: 600px;
    margin: 40px auto;
}

.form-control {
    text-align: left;
    margin-bottom: 20px;
}

.form-control label {
    display: block;
    margin-bottom: 6px;
    padding: 5px;
}

.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 3px;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: blue;
    border: 1px solid #00d2d3;
    font-family: inherit;
    font-size: 16px;
    border-radius: 2px;
    display: block;
    width: 100px;
    padding: 10px;
    
}